body
{
    background-image: url(back.jpeg);
}


h1{
    color:white;
    margin:auto;
}
.container{
    width:85%;
    margin:auto;
}

.nav{
    
    height:80px;
}

nav h1{
    float:left;
    line-height:80px;
    font-size:35px;
    font-size:inline;
}


nav ul{
    float:right;
    line-height:80px;
}

nav ul li{
    display:inline-block;
    padding: 0px 5px;
}


nav ul li a {
    color:white;
    text-transform:uppercase;
    padding: 7px 8px;
}

nav ul li a:hover{
    background-color:yellow:
    -webkit-transition-duration: 0.5s;
}

nav ul li a.k{
    
    
    background-color :#eb7620;
}
.intro{

   
    text-align:center;
    margin:auto;
    
}

.image{
    
    border-radius:40px;
    float:left;
    width:10%;
    padding:5px;
    alt="Italian Trulli"
}





.intro h1{
    
    
    
    font-size:36x;
    color:#fff;
    letter-spacing:1.5px;
    font-weight:800;
    margin-bottom:25px;
    
}
.intro p{
    
    
    font-size:36x;
    color:blanchedalmond;
    letter-spacing:1.5px;
    font-weight:800;
    margin-bottom:25px;

    
    
}


.link{
    
    text-align:center;
    margin:auto;
    
    
    
    
}

.link h1{
    
    line-height:80px;
    font-size:35px;
    font-size:inline;
}

.link ul li{
    display:inline-block;
    padding: 0px 5px;
}

.link ul li a {
    color:cornsilk;
    text-transform:uppercase;
    padding: 7px 8px;
}
.t{
    
    color:white;
    text-transform:uppercase;
    padding: 7px 8px;
    display:inline-block;
    
}

.c{
    
    color:white;
    text-transform:uppercase;
    padding: 7px 8px;
    display:inline-block;
    
}


.abut{
    
    color:white;
    line-height:20px;
    font-size:15px;
    font-size:inline;
    padding: 7px 8px;
   

    
    
    
    
}
.u{
    
    float:right;
    width:10%;
    padding:5px;
    border-radius:190px;
    border-color:black;
   
    
}
